/* Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* MAIN PAGE STYLE */
.main-page{
    background:
      linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
      url("./images/restaurant.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
  }
  
  .main-page p{
    font-family: cursive;
    font-size: 20px;
  }

  /* HOURS PAGE STYLE */
  .hours-page{
    height: 750px;
    background-color:floralwhite;
  }

  /* FLAVOR SECTION STYLE */

  .flavor{

    height:750px;
    background-color: black;
  }
  .card{
    width:400px;
    height:500px;
    margin: auto;
  }
  .card-img-overlay{
    background: rgba(0,0,0,0.6);
    
  }
  .custom-card{
    border:none;
    border-radius: 25px;
    overflow: hidden; 
  }
  
  .card-title{
    width:200px;
    text-align: center;
    font-weight: bolder;
  }

  /* RESPONSIVE FLAVOR SECTION */
  @media (max-width:768px) {
    .flavor{

        height: auto;
    }
    .card{
        width:300px;
        height: 300px;
    }
    .card:last-child{
        margin-bottom: 90px;
    }
    
  }
  /* INFO SECTION STYLE */

  .info{
    background-color: floralwhite;
    height:750px;
  }
  .info .col{
    margin-top: 100px;
  }
  .info .col img{
    border:none;
    border-radius: 25px;
    overflow: hidden; 
    height:400px;
  }
  .info .col:nth-child(2) img{
    margin-top: 150px;
  }
  .info .row .col:last-child{
    margin-left: 100px;
    margin-top: 150px;
  }
  .info .col:last-child h1{
  
    font-weight:900;
  }
  .info .col:last-child P{
    font-size: larger;
  }

   /* RESPONSIVE INFO SECTION */
   @media (max-width:768px) {
   .info{
    height: auto;
   }
   .info .col img{
    width: 300px;
    height: 300px;
   }
   .info .col:nth-child(2) img{
     margin-top: -70px;
   }
   .info .row .col:last-child{
    margin: 0;
   }
  }
  /* RATING SECTION STYLE */

  .rating{
    height: 750px;
    background-color: black;
  }
  .rating h1{
    margin-top: 100px;
  }
  .rating .col{
    margin-top: 150px;
    font-size: 20px;
  }

  /* RESPONSIVE RATING SECTION */
  @media (max-width: 768px){

    .rating{
      height: auto;
    }
  
    .rating h1{
      font-size: 28px;
      margin-bottom: 40px;
    }
  
    .rating .col{
      font-size: 16px;
    }
  
    .rating i{
      font-size: 35px;
    }
    .rating .col{
        margin-top: 20px;
    }
  }
  
  /* MENU SECTION STYLE */

  .menu{
    background-color: black;
    height:1000px;
  }
  /* RESPONSIVE MENU SECTION */

  @media (max-width: 768px){

    .menu{
      height:auto;
    }
  
    .menu h1{
      font-size: 32px;
    }
  
    .menu h3{
      font-size: 22px;
      margin-bottom: 30px;
    }
  
    .menu p{
      font-size: 15px;
    } 
  
    .menu small{
      display: none;
    }
  }
  

  /* TAPE SECTION STYLE */
  .tape {
    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("./images/dc5dba445aea4ddfa37e05e12b2bb3f2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
        width:100%;
    height: 300px;
  }

  /* ADDRESS SECTION STYLE */
  .address{
    background-color: floralwhite;
    height: 700px;
  }
  
  /* END SECTION STYLE */
  .end {
    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("./images/03711f07449469744985e1e5509910b9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 600px;
  }
  .end h1{
    font-family: cursive;
  }